# password
database.php

#################
## Src
#################
application/config/database.php #password

#################
## Intellij
#################
.idea/
*.iml
*.iws

#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store
.buildpath
.project
.settings/.jsdtscope
.settings/org.eclipse.php.core.prefs
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name
application/controllers/Home.php
